@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --gold1: #F4BD76;
    --gold2: #F6CD8F;
    --gray1: #FFFFFF80;
    --black1: #1A1B1F;
    --black2: #30353B;
    --shadow: 0 8px 8px;
    --color-shadow: #00000033;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.amount-field{
    border: 1px solid #ced4da; 
    padding: 0.375rem 0.75rem; 
    font-size: 1rem; 
    line-height: 1.5;
    color: var(--black1);
    border-radius: 0.25rem;
    width: 100%;
    
}

body{
    font-family: 'Roboto', sans-serif;
}

.box-text{
    padding: 5px;
    text-align: center;
    color: #FFF;
    width:100%;
}

.btn-go{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(180deg, var(--gold2) 0%, var(--gold1) 100%);
    text-decoration: none;
    color: var(--black2);
    font-weight: 700;
    box-shadow: var(--shadow) var(--color-shadow);
    border-radius: 6px;
    width: 30%;
}

.button{
    padding: 10px 30px;
    display: inline-block;
    background: linear-gradient(180deg, var(--gold2) 0%, var(--gold1) 100%);
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: var(--black2);
    font-weight: 700;
    font-size: 20px;
    box-shadow: var(--shadow) var(--color-shadow);
    border-radius: 6px;
    cursor: pointer;
}

.button:hover{
    padding: 10px 30px;
    display: inline-block;
    background: var(--black1);
    text-decoration: none;
    text-align: center;
    width: 100%;
    color: var(--gold2);
    font-weight: 700;
    font-size: 20px;
    box-shadow: var(--shadow) var(--color-shadow);
    border-radius: 6px;
    cursor: pointer;
}

.scroll-top {
	color: #fff;
	display: none;
	width: 30px;
	height: 30px;
	position: fixed;
	z-index: 1000;
	bottom: 50px;
	right: 30px;
	font-size: 20px;
	background: #222;
	border-radius: 3px !important;
	text-align: center;
	border: 1px solid hsla(0, 0%, 78%, 0.3)
}
.scroll-top i {
	position: relative;
	top: 2px;
}


.color-active{
    color: var(--gold1);
    font-weight: 700;
}

.contact{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    color: #fff;
}

.contact-icon{
    font-size: 14px;
    color: var(--gold1);
    line-height: 20px;
    margin-right: 4px;
}

.contact-icon-modifier{
    color: var(--black1);
}

.contact-title{
    font-size: 16px;
    line-height: 20px;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height: auto;
}

.copyright{
    width: 100%;
}

.download{
    width: 50%;
}

.download-app{
    display: flex;
}

.download-item{
    display: flex;
    padding: 18px 12px;
    border-radius: 6px;
    border: 1px solid var(--black2);
    width: 50%;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 16px;
}

.download-logo{
    font-size: 40px;
    margin-right: 20px;
}

.download-title{
    font-size: 18px;
}

.email-field{
    border: 1px solid #ced4da; 
    padding: 0.375rem 0.75rem; 
    font-size: 1rem; 
    line-height: 1.5;
    color: #495057;
    border-radius: 0.25rem;
    width: 50%;
}


.exchange-group {
    margin: 0 auto;
    background-color: var(--black2);
    max-width: 40%;
    padding: 10px;
    border-radius: 10px;
  
}


.exchange-title{
    text-align: center;
    font-size: 50px;
    padding: 20px;
    text-shadow: var(--shadow) var(--color-shadow);
    color: #FFFFFF;

}

.field{
    border: 1px solid #ced4da; 
    padding: 0.375rem 0.75rem; 
    font-size: 1rem; 
    line-height: 1.5;
    color: #495057;
    border-radius: 0.25rem;
    width: 100%;
}

.footer{
    background: #a36f6f;
}

.footer-caption{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-evenly;
}

.footer-copy{
    width: 100%;
    color: var(--black2);
    display: flex;
    flex-wrap: wrap;
}

.get-email{
    width: 50%;
}

.item-contact{
    width: 25%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);

}

.item-contact-gold{
    width: 25%;
    padding: 60px 0;
    text-align: center;
    background: linear-gradient(180deg, #F7CE90 0%, #F4BD76 100%);
    color: var(--black1);
}

.link{
    display: inline-block;
    color: inherit;
    font-size: 20px;
    text-decoration: none;
    font-weight: 300;
    padding: 10px;

}

.link:hover{
    color: var(--gold2);
}

.links{
    display: flex;
    justify-content:right;
}

.logo-name{
    font-size: 40px;
}

main{
    padding: 0;
    background-color: var(--gold1);
    height: calc(100vh - 10px);
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;

}

.money{
    object-fit: cover;
    width: 48%;
    max-height: 90vh;
}

.name-field{
    border: 1px solid #ced4da; 
    padding: 0.375rem 0.75rem; 
    font-size: 1rem; 
    line-height: 1.5;
    color: #495057;
    border-radius: 0.25rem;
    width: 50%;
}

.nav-top{
    color: #FFF;
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255, 0.1);
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: inherit;
    padding: 0;
}

.new-name-field{
    border: 1px solid #ced4da; 
    background: #FFF;
    padding: 0.375rem 0.75rem; 
    font-size: 1rem; 
    line-height: 1.5;
    color: #495057;
    border-radius: 0.25rem;
    width: 50%;
}

.policy{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.privacy{
    color: inherit;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.privacy-margin{
    margin-right: 10px;
}

.socialmedia{
    margin-top: 24px;
    display: flex;
    color: var(--black2);
}

.socialmedia-icon{
    font-size: 18px;
    margin-right: 30px;
    display: inline-block;
}

.socialmedia-legend{
    color: var(--black2);
    margin-right: 16px;
}

.spreed-Text{
    display: flex;
    justify-content: center;
    color: white;
}

.table-market-rates{
    display: flex;
    justify-content: center;
    color: #FFF;
    width:100%;
}

.title{
    font-size: 56px;
    font-weight: 300;
    color: #FFF;
}

.title-footer{
    font-size: 24px;
    margin-bottom: 32px;
}

.title-market-rates{
    color: var(--gold2);
    text-align: center;
    /* padding: 5px; */
}

.top{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
}

.top-main{
    height: calc(100vh - 70px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.top-text{
    width: 48%;
}

.to-top {
	display:none;
	padding:20px;
	background: var(--black2);
	font-size:20px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:20px;
	right:20px;
}

.sub-title{
    font-size: 24px;
    color: var(--gray1);
    text-shadow: var(--shadow) var(--color-shadow);
    margin: 15px 0;
}

.user-group{
    display: flex;
}

.with-us{
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    height: auto;
    font-family: inherit;
    position: relative;
    border-radius: 6px;
}

.with-us--modifier{
    margin: 0;
    width: 80%;
}

.with-us-input{
    width: 100%;
    height: 100%;
    padding: 22px 10px;
    outline: none;
    font-family: inherit;
    border-radius: 6px;
    border: 1px solid var(--black1)
}

.with-us-submit{
    position: absolute;
    right: 8px;
    top: 10%;
    height: 80%;
    background: linear-gradient(180deg, var(--black2) 0%, var(--black1) 100%);
    color: #fff;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
}




































